body {
    margin: 0;
    font-family: 'Opensan';
}
@font-face {
    font-family: Opensan;
    src: url(../font/OpenSans-Bold.ttf);
}
.header {
  
}

.header-img {
    margin: 15px;
    margin-left: 100px;
    height: 80px;
    width: 1050px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.grid-container {
   
    background-color: rgb(86, 226, 128);
    padding: 0px;
    opacity: 0.9;
  }

  .btn {
      margin-top: 25px;
      text-align: center;
      border: none;
      font-size: 20px;
      height: 60px;
      width: 200px;
  }

  .btn:hover{
      background-color: rgb(44, 165, 60);
      cursor: pointer;
  }

  .home {
    height: 1500px;
    width: 100%;
    background-color: rgb(196, 235, 209);
}
.home-header {
    height: 30px;
   
}
.search-pos {
    height: 100px;
    width: 100%;
    margin-right: 170px;
    margin-top: 10px;
}
.search-bar {
    margin: auto;
    width: 650px;
  
}
.search {
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
    height: 40px;
  }
  .search-icon {
      background-color: rgb(207, 221, 79);
      height: 35px;
      border-radius: 8px;
      font-size: 20px;
      margin-bottom: 15px;
  }

  .search-icon:hover{
      cursor: pointer;
      background-color: #eca91a;
  }

  .food {
      margin: auto;
      margin-top: 50px;
      display: flex;
      height: 150px;
      width: 850px;
      background-color: #fff;
      border-radius: 20px;
  }

  .food-img {
      height: 100%;
      width: 200px;
     
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px 0 0 20px;
  }

  .food-name {
      margin: auto;
      font-size: 60px;
      font-weight: bold;
  }

  .infor {
      font-size: 20px;
      height: 60px;
     
      margin-top: 50px;
      display: flex;
  }

  .mess-title {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
  }

  .nutrition {
      height: auto;
      width:auto;
      margin-left: 100px;
  }

  .nutrition-facts {
      height:auto;
      width: auto;
      border: #000 solid 2px;
      margin: auto;
  }

  .calories {
    text-align: center; 
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: #000 10px solid;
    font-size: 23px;
    font-weight: 800;
    font-style: italic;
  }
.activities {
        margin:auto;
        border-collapse: collapse;
        text-align: center;
}

  .activities-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .cycling-box , .running-box , .dohousehold-box{
    height: 200px;
    width: 200px;
  }
  .cycling {
      height: 100px;
      width: 100px;
      margin-left: 50px;
      background-image: url(../img/cycling.png);
      background-repeat: no-repeat;
      background-size: cover;
  }

  .running {
    height: 100px;
    width: 100px;
    margin-left: 50px;
      background-image: url(../img/running.png);
      background-repeat: no-repeat;
      background-size: cover;
  }

  .dohousehold {
    height: 100px;
    width: 100px;
    margin-left: 50px;
      background-image: url(../img/dohousehold.png);
      background-repeat: no-repeat;
      background-size: cover;
  }

   .chart{
    margin-top: 100px;
    
}
.addFood{
  margin-top: 60px;
  
}
