body {
    margin: 0;
    font-family: "Opensan";
}
@font-face {
    font-family: Opensan;
    src: url(../font/OpenSans-Bold.ttf);
}

.header {
   
}
.header-img {
    margin: 15px;
    margin-left: 100px;
    height: 80px;
    width: 1050px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.grid-container {
   
    background-color: rgb(86, 226, 128);
    padding: 0px;
    opacity: 0.9;
}
.btn {
    margin-top: 25px;
    text-align: center;
    border: none;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

.btn:hover{
    background-color: rgb(44, 165, 60);
    cursor: pointer;
}

.infor-bar {
    height: 250px;
    width: 100%;
    background-color: rgb(86, 226, 128);
    opacity: 0.9;
    display: flex;
    position: relative;
}

.infor-index{
    margin-left: 50px;
    width: 100%;
}
.body-left, .body-right{
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 1000%;
}
.body-center {
    background-color: whitesmoke;
    height: 900px;
}
.diary, .aim {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
    border-bottom: #0b2e13 5px solid;
}
.time {
    height: 100px;
    width: 100%;
    background-color: #062c33;
    color: white;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    display: flex;
}
.time p{

}
.food-log {
    font-size: 20px;
    font-weight: lighter;
    margin: 50px;
}
.breakfast, .lunch, .snack, .dinner {
    margin: 30px;
    border-bottom: #1c7430 2px solid;
}
.addFood{
    margin-left: 120px;
   
    margin-top: 5px;
}
.user-aim {
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
}
.user-aim input{
    margin: 8px;
    width: 100%;
    padding: 5px;
    border: #ffcfa8;
}

.user-aim button{
    width: 100px;
    margin: 10px;
    background-color: darkseagreen;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.user-aim button:hover{
    background-color: #89b8da;
    color: antiquewhite;
    cursor: pointer;
}


