body {
    margin: 0;
    font-family: 'Opensan';
}
@font-face {
    font-family: Opensan;
    src: url(../font/OpenSans-Bold.ttf);
}
.header {
    
}

.head {
    width: 100%;
    height: 0px;
}

.header-img {
    margin: 15px;
    margin-left: 100px;
    height: 80px;
    width: 1050px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.grid-container {
  
    background-color: rgb(86, 226, 128);
    padding: 0px;
    opacity: 0.9;
  }

  .btn {
      margin-top: 25px;
      text-align: center;
      border: none;
      font-size: 20px;
      height: 60px;
      width: 200px;
  }

  .btn:hover{
      background-color: rgb(44, 165, 60);
      cursor: pointer;
  }
  .result-mess {
    font-style: italic; 
    font-size: 20px;
    margin: 50px;
    margin-left: 50px;
    color: rgb(67, 170, 107);
  }

  .results {
      margin: auto;
      width: 800px;
      height: auto;
  }

  .result-1 {
      margin-top: 20px;
      display: flex;
      border: 2px solid rgb(148, 144, 144);
      border-radius: 10px;
  }

  .img1 {
     
    margin: 10px;
    height: 150px;
    width: 220px;
     
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
     
  }
 

  .infor {
      margin: auto;
      margin-left: 20px;
  }

  .more {
      margin: auto;
      height: 60px;
      margin-right: 10px;
      border: none;
      background-color: #fff;
  }

  .more:hover {
      cursor: pointer;
  }
