body {
    margin: 0;
    font-family: "Opensan";
    background: url(../img/background2.png);
    background-position: center;


          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          height:100%;
}
@font-face {
    font-family: Opensan;
    src: url(../font/OpenSans-Bold.ttf);
}

.header {
   
}
.header-img {
    margin: 15px;
    margin-left: 100px;
    height: 80px;
    width: 1050px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.grid-container {
   
    background-color: rgb(86, 226, 128);
    padding: 0px;
    opacity: 0.9;
}

.btn {
    margin-top: 25px;
    text-align: center;
    border: none;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

.btn:hover {
    background-color: rgb(44, 165, 60);
    cursor: pointer;
}

.home {
    height: 100vh;
    width: 100%;
   
}
.home-header {
    height: 50px;
    width: 100%;
}
.message {
    color: lightseagreen;
    text-shadow: 1px 1px 1px white;
    position: center;
    margin-left: 120px;
    margin-top: 0px;
    margin-right: 120px;
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
}

.user-infor {
    border: #1AAB8A 1px solid;
    border-radius: 20px;
    
    background-color: mediumseagreen;
    width: 650px;
    opacity: 0.6;
    font-size: 20px;
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 200px;
}

.user-infor input[type="submit"]
{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: none;
    outline: none;
    height: 40px;
    background: navajowhite;
    color: #111111;
    font-size: 20px;
    border-radius: 15px;
}
.user-infor input[type="submit"]:hover
{
    cursor: pointer;
    background: #58dd8d;
    color: #111111;
}
.user-infor input[type="radio"]{
    margin: 5px;
}
.text-infor{
    margin-top: 50px;
    margin-left: 160px;
    color: black;
}
