body {
    margin: 0;
    font-family: "Opensan";
}
@font-face {
    font-family: Opensan;
    src: url(../font/OpenSans-Bold.ttf);
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
}
.header-img {
    margin: 15px;
    margin-left: 100px;
    height: 80px;
    width: 1050px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    background-color: rgb(86, 226, 128);
    padding: 0px;
    opacity: 0.9;
}

.btn {
    margin-top: 25px;
    text-align: center;
    border: none;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

.btn:hover {
    background-color: rgb(44, 165, 60);
    cursor: pointer;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-header {
    height: 200px;
    width: 100%;
}
.message {
    color: lightseagreen;
    text-shadow: 2px 2px 5px white;
    position: center;
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 120px;
    font-size: 53px;
    text-align: center;
    border-radius: 10px;
}

.user-infor {
    border: #1AAB8A 1px solid;
    border-radius: 20px;
    margin-left: 700px;
    background-color: mediumseagreen;
    width: 650px;
    opacity: 0.6;
    font-size: 20px;
}

.user-infor input[type="submit"]
{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: none;
    outline: none;
    height: 40px;
    background: #89b8da;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
}
.user-infor input[type="submit"]:hover
{
    cursor: pointer;
    background: #58dd8d;
    color: #000;
}
.user-infor input[type="radio"]{
    margin: 5px;
}
.text-infor{
    margin-top: 50px;
    margin-left: 160px;
    color: honeydew;
}
